<div class="container">
  <div id="map" animated-move="false">
    <%= retina_image_tag('Map.png', id:'mapImage', alt:'Aeroplane Chess Background', draggable:'false') %>
    <% colors = ['Blue','Yellow','Green','Red'] %>
    <% colors.each_with_index do |color,index| %>
      <% for j in 0..3 %>
        <%= retina_image_tag("Chess#{color}.png", class: [color.downcase, 'chess'], id:"c#{index}#{j}", alt:"Chess #{color} #{j+1}", draggable:'false', data: {position: (index*4 + 76 + j) }) %>
        <%= retina_image_tag("Star#{color}.png", class: [color.downcase, 'star'], id:"s#{index}#{j}", alt:"Finished Chess #{color} #{j+1}", draggable:'false', data: {position: (index*4 + 76 + j) }) %>
      <% end %>
    <% end %>
  </div>
  <div id="players">
    <% colors.each_with_index do |color,index| %>
    <div class="player <%= color.downcase %>" id="p<%= index %>" data-active="true" data-state="choosing">
      <div class="name-box">
        <div class="name-input">
          <input type="text" placeholder="Name" autocomplete="off">
        </div>
        <div class="name-display" data-self="false">
        </div>
      </div>
      <div class="dice-box">
        <div class="dice" data-face="0"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="meta" id="root_url"><%= "#{request.host}:#{request.port}" %></div>
